<ol>
  <li>Add an input field which updates a property via two-way-binding</li>
  <li>Output the usename porperty via String Interpolation</li>
  <li>Add a button which may only be clicked if the username is not an empty string</li>
  <li>Upon clicking the button the usename should be reset to an empty string</li>
</ol>
  <input type="text" class="form-control" [(ngModel)]="textInput" >
  <div class="mt-5"></div>
  <p [ngStyle]="{'color': addColor()}">{{ textInput }}</p>
  <button class="btn btn-primary"[disabled]="textInput.trim().length === 0" (click)="textInput = ''" >Reset</button>
